node_modules
.next
out
.env.local
.DS_Store
*.tsbuildinfo
next-env.d.ts

# Local Netlify folder
.netlify

# Google service account key
service-account.json

# Source images (keep only .webp)
*.jpeg
*.png
!public/images/**/*.webp
